<div class="modal fade" #modalElement tabindex="-1" aria-labelledby="carroModalLabel" aria-hidden="true"
    *ngIf="carro">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{carro.marca}} {{carro.modelo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label for="id" class="form-label">ID</label>
                <input type="text" id="id" disabled class="form-control" value="{{carro._id}}">

                <label for="marca" class="form-label">Marca</label>
                <input type="text" id="marca" class="form-control" #marca value="{{carro.marca}}">

                <label for="modelo" class="form-label">Modelo</label>
                <input type="text" id="modelo" class="form-control" #modelo value="{{carro.modelo}}">

                <label for="anio" class="form-label">Año</label>
                <input type="number" id="anio" class="form-control" #anio value="{{carro.anio}}">

                <label for="precio" class="form-label">Precio</label>
                <input type="number" id="precio" class="form-control" #precio value="{{carro.precio}}">

                <label for="color" class="form-label">Color</label>
                <input type="text" id="color" #color class="form-control" value="{{carro.color}}">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button"
                class="btn btn-success"
                (click)="editarCarro(marca.value, modelo.value, anio.value, precio.value, color.value, carro._id!)">Editar</button>
            </div>
        </div>
    </div>
</div>

